In [1]:
import nltk
from nltk.corpus import twitter_samples
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer        
from nltk.tokenize import TweetTokenizer
import string
import re
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from functions import process_tweet,build_freqs

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Vidit\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [2]:
all_positive_tweets = twitter_samples.strings('positive_tweets.json')
all_negative_tweets = twitter_samples.strings('negative_tweets.json')

tweets = all_positive_tweets + all_negative_tweets
len(tweets)

10000

In [3]:
word_list = []
for tweet in tweets:
    cleaned_tweet = process_tweet(tweet)
    for word in cleaned_tweet:
        if word not in word_list:
            word_list.append(word)

In [4]:
len(word_list)

10418

In [5]:
word_list[0]

'followfriday'

In [6]:
labels = np.append(np.ones((len(all_positive_tweets))), np.zeros((len(all_negative_tweets))))

freqs = build_freqs(tweets, labels)

In [7]:
pos_freq = []
neg_freq = []
for i in range(len(word_list)):
    pos_freq.append(freqs.get((word_list[i],1.0),0))
    neg_freq.append(freqs.get((word_list[i],0.0),0))

In [8]:
len(pos_freq)

10418

In [9]:
len(neg_freq)

10418

In [10]:
data = {
    'Word':word_list,
    'Positive Frequency':pos_freq,
    'Negative Frequency':neg_freq
}

In [11]:
dataset = pd.DataFrame(data)

In [12]:
dataset.head(10)

           Word  Positive Frequency  Negative Frequency
0  followfriday                  25                   0
1           top                  32                   6
2         engag                   7                   0
3        member                  16                   6
4        commun                  33                   2
5          week                  83                  56
6            :)                3568                   2
7           hey                  76                  26
8          jame                   7                   4
9           odd                   2                   3